# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Panda3D
*.bam
*.bam.bak

# Build
build/
dist/
*.egg-info/

Download/

# Junk / binaries
*.exe
*.zip
*.pdf
*.jpg
*.jpeg
*.png
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.jpeg
